@use 'variables' as *;
@use 'general' as *;
@use 'fonts' as *;

.form-wrapper {
    max-width: 600px;
    margin: 0 auto;
    font-family: $main-font;
    color: black;
    .btn {
        margin-bottom: 2rem;
    }
    .form-label {
        font-weight: bold;
        font-size: 20px;
    }
}

.contacto {
    h1 {
        text-align: center;
        color: $prim;
        font-size: 50px;
        font-family: $title-font;
    }
    h2 {
        text-align: center;
        color: $sec;
        margin: 2rem 0;
        font-weight: bold;
        font-family: $main-font;
        font-size: 30px;
    }
}

.work-with-us {
    background-image: url(../medios/backgroundcontacto.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    h2 {
        color: $fifty;
        font-size: 40px;
    }
    P {
        text-align: center;
        color: $third;
    }
}