@use 'variables' as *;
@use 'general' as *;
@use 'fonts' as *;

.form-wrapper {
    max-width: 600px;
    margin: 0 auto;
    font-family: $main-font;
    color: black;
    .btn {
        margin-bottom: 2rem;
    }
    .form-label {
        font-weight: bold;
        font-size: 20px;
    }
}

.contacto {
    .titulo-contacto {
        @extend .titulo-principal;
        font-size: 50px;
    }
    .sub-contacto {
        @extend .titulos-sec;
        margin: 2rem 0;
        font-size: 30px;
    }
    p {
        text-align: center;
    }
}

.work-with-us {
    background-image: url(../medios/backgroundcontacto.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    .sub-contacto {
        @extend .titulos-sec;
        color: $fifty;
        font-size: 40px;
    }
    P {
        text-align: center;
        color: $third;
    }
}

@media (max-width: 767px) {
    .contacto {
        .titulo-contacto {
            font-size: 30px;
            padding: 1rem;
        }
        .sub-contacto {
            font-size: 15px;
        }
    }
    .work-with-us {
        background-image: url(../medios/mobileback.jpg);
        background-repeat: repeat;
        .sub-contacto {
            font-size: 25px;
            color: $prim;
            padding: 1rem;
        }
        p {
            color: black;
        }
    }
    .form-wrapper {
        max-width: 350px;
    }
}

@media (min-width: 768px) and (max-width: 1300px) {
    .contacto {
        p {
            text-align: center;
            font-weight: bold;
        }
    }
}