@use 'fonts' as *;
@use 'variables' as *;


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: $fifty;
    .footer-izq {
        img {
        max-width: 250px;
        }
    }
    .footer-der {
        display: flex;
        flex-direction: column;
        gap: 15px;
        font-family: $main-font;
        nav {
        display: flex;
        justify-content: space-between;
        }
    }
    .footer-centro {
        a {
        text-decoration: none;
        color: $fifty;
        font-family: $main-font;
        margin: 1rem;
        }
    }
}

@media (max-width: 860px) {
    footer {
        min-height: 8vh;
        .footer-izq {
            img {
                max-width: 150px;
            }
        }
        .footer-der {
            font-size: 15px;
        }
        .footer-centro {
            nav {
                display: flex;
                text-align: center;
                flex-direction: column;
            }
            a {
                font-size: 15px;
                margin: 0.2rem;
            }
        }
    }
}