@use 'fonts' as *;
@use 'variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

body {
  font-family: $main-font;
}

.titulo-principal {     /*h1*/
  color: $prim;
  text-align: center;
  font-weight: bold;
  font-size: 80px;
  font-family: $title-font;
  margin: 1rem 0;
}

.titulos-sec {        /*h2*/
  color: $sec;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  font-family: $title-font;
  margin: 1rem 0;
}

p {           
  text-align: justify;
  font-size: 20px;
  color: $sec;
  font-family: $main-font;
  margin-bottom: 2rem;
}
.card-title {
  font-family: $title-font;
  color: $prim;
}

.cards {                  /* Sección hamburguesas de Index y pedidos */
  max-width: 1200px;
  margin: 1rem auto;
  .card-img-top {
    height: 200px;
    object-fit: cover;  /* Recorta la imagen para que no se deforme */
    width: 100%;
    display: block;
  }
  .card-img-top:hover {
    transform: scale(1.1); /* Aumenta el tamaño un 10% */
    transition: 2s;
  }
  small {
    color: $sec;
    font-weight: bold;
      del {
        color: black;
      }
  }
  .card {
    border: none;
    background-color: $fifty;
  }
}

/*----------------MEDIA QUERY----------------*/

@media (max-width: 767px) {
  p {
    font-size: 15px;
    margin: 1rem auto;
    text-align: center;
  }

  h3 {
    text-align: center;
  }

  .titulo-principal {
    font-size: 35px;
  }

  .titulos-sec {
    font-size: 25px;
  }

  .card-title {
    text-align: center;
  }

  .cards {
    .card {
      margin-left: 0.7rem;
    }
    .card-text {
      text-align: left;
    }
  }
}

@media (min-width: 768px) and (max-width: 1300px) {
  p {
    font-size: 14px;
    margin: 1rem auto;
    text-align: center;
  }
  .card-title {
    text-align: center;
    font-size: 17px;
  }
  .cards {
    .card {
      margin-left: 0.7rem;
    }
    .card-text {
      text-align: center;
    }
  }
}