@use 'fonts' as *;
@use 'variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

body {
  font-family: $main-font;
  font-size: 30rem;
  p {
    text-align: justify;
    font-size: 20px;
    color: $sec;
    font-family: $main-font;
    margin-bottom: 2rem;
  }
  h2 {
    color: $prim;
    text-align: center;
    font-weight: bold;
    font-size: 80px;
    font-family: $title-font;
    margin: 1rem 0;
    }
    .card-title {
      font-family: $title-font;
      color: $prim;
    }
  .cards {
    max-width: 1200px;
    margin: 0 auto;
    .card-img-top {
        height: 200px;      /* Ajustá esta altura a tu gusto */
        object-fit: cover;  /* Recorta la imagen para que no se deforme */
        width: 100%;        /* Ocupa todo el ancho del contenedor */
        display: block;
    }
    .card-img-top:hover {
        transform: scale(1.1); /* Aumenta el tamaño un 10% */
        transition: 2s;
    }
    small {
        color: $sec;
        font-weight: bold;
        del {
            color: black;
        }
    }
    .card {
        border: none;
        background-color: $fifty;
    }
    .card-footer {
        margin: 1.5rem 0;
    }
}
}