@use 'variables' as *;
@use 'fonts' as *;
@use 'general';

/*----------------------------- NOSOTROS ------------------------- */
.about-us {
    margin: 1rem 0;
}

.our-burgers {
    margin: 1rem 0;
    h2 {
        color: $third;
        text-align: left;
        font-weight: bold;
        font-size: 65px;
        font-family: $title-font;
    }
}

.proposito {
    h2 {
        color: $fourty;
        text-align: right;
        font-weight: bold;
        font-size: 65px;
        font-family: $title-font;
    }
}

/*--------------------------- PEDIDOS -----------------------*/

.titulo-pedidos {
    font-family: $title-font;
    color: $prim;
    font-size: 60px;
    margin-left: 2rem;
}

.subtitulos {
    font-family: $title-font;
    color: $sec;
    font-size: 45px;
    margin-left: 2rem;
}

/*---------------------------- INDEX ------------------------------*/

.locales {
    h3 {
        color: $third;
        font-family: $main-font;
    }
    .card-body {
        background-image: url(../medios/fondo3.jpg);
    }
    .img-fav {
        height: 100%;
        width: 100%;
        display: block;
        object-fit: cover;
    }
    .card-text {
        font-weight: bold;
    }
}
/*------------------------------------------------------------------*/