@use 'variables' as *;
@use 'fonts' as *;
@use 'general';

/*----------------------------- NOSOTROS ------------------------- */
.about-us {
    margin: 1rem 0;
    .titulo-nosotros {
        @extend .titulo-principal;
        color: $sec;
    }
}

.our-burgers {
    margin: 1rem 0;
    .sub-nosotros {
        @extend .titulos-sec;
        color: $third;
        text-align: left;
        font-size: 65px;
    }
}

.proposito {
    .sub-nosotros {
        @extend .titulos-sec;
        color: $fourty;
        text-align: right;
        font-size: 65px;
    }
}

@media (max-width: 550px) {
    .our-burgers {
        .sub-nosotros {
            font-size: 25px;
            text-align: center;
        }
    }
    .proposito {
        .sub-nosotros {
            font-size: 25px;
            text-align: center;
        }
    }
}