@use 'variables' as *;
@use 'fonts' as *;
@use 'general';

.h1-pedidos {
    display: none;              /* Seccion sin titulo principal */
}

.titulo-pedidos {
    @extend .titulos-sec;
    color: $prim;
}

.subtitulos {
    @extend .titulos-sec;
    font-size: 45px;
}