@use 'variables' as *;
@use 'fonts' as *;
@use 'general';

.h1-pedidos {
    display: none;              /* Seccion sin titulo principal */
}

.titulo-pedidos {
    @extend .titulos-sec;
    color: $prim;
}

.subtitulos {
    @extend .titulos-sec;
    font-size: 45px;
}

@media (max-width: 767px) {
    .titulo-pedidos {
        font-size: 30px;
        margin: 1rem auto;
    }

    .subtitulos {
        font-size: 25px;
        text-align: center;
        margin: 1rem 0;
    }
}