@use 'variables' as *;
@use 'fonts' as *;
@use 'general';

/*---------------------------- INDEX ------------------------------*/

.locales {
    h3 {
        color: $third;
        font-family: $main-font;
    }
    .card-body {
        background-image: url(../medios/fondo3.jpg);
    }
    .img-fav {
        height: 100%;
        width: 100%;
        display: block;
        object-fit: cover;
    }
    .card-text {
        font-weight: bold;
    }
}

@media (max-width: 550px) {
    .locales {
        .card {
            margin-left: 0.7rem;
        }
    }
}