@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patua+One&family=Paytone+One&family=Proza+Libre:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

body {
  font-family: "Patua One", serif;
}

.titulo-principal, .contacto .titulo-contacto, .about-us .titulo-nosotros { /*h1*/
  color: #893302;
  text-align: center;
  font-weight: bold;
  font-size: 80px;
  font-family: "Paytone One", sans-serif;
  margin: 1rem 0;
}

.titulos-sec, .contacto .sub-contacto, .work-with-us .sub-contacto, .titulo-pedidos, .subtitulos, .our-burgers .sub-nosotros, .proposito .sub-nosotros { /*h2*/
  color: #b1652b;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  font-family: "Paytone One", sans-serif;
  margin: 1rem 0;
}

p {
  text-align: justify;
  font-size: 20px;
  color: #b1652b;
  font-family: "Patua One", serif;
  margin-bottom: 2rem;
}

.card-title {
  font-family: "Paytone One", sans-serif;
  color: #893302;
}

.cards { /* Sección hamburguesas de Index y pedidos */
  max-width: 1200px;
  margin: 1rem auto;
}
.cards .card-img-top {
  height: 200px;
  object-fit: cover; /* Recorta la imagen para que no se deforme */
  width: 100%;
  display: block;
}
.cards .card-img-top:hover {
  transform: scale(1.1); /* Aumenta el tamaño un 10% */
  transition: 2s;
}
.cards small {
  color: #b1652b;
  font-weight: bold;
}
.cards small del {
  color: black;
}
.cards .card {
  border: none;
  background-color: #f3dcaf;
}

/*----------------MEDIA QUERY----------------*/
@media (max-width: 767px) {
  p {
    font-size: 15px;
    margin: 1rem auto;
    text-align: center;
  }
  h3 {
    text-align: center;
  }
  .titulo-principal, .contacto .titulo-contacto, .about-us .titulo-nosotros {
    font-size: 35px;
  }
  .titulos-sec, .contacto .sub-contacto, .work-with-us .sub-contacto, .titulo-pedidos, .subtitulos, .our-burgers .sub-nosotros, .proposito .sub-nosotros {
    font-size: 25px;
  }
  .card-title {
    text-align: center;
  }
  .cards .card {
    margin-left: 0.7rem;
  }
  .cards .card-text {
    text-align: left;
  }
}
@media (min-width: 768px) and (max-width: 1300px) {
  p {
    font-size: 14px;
    margin: 1rem auto;
    text-align: center;
  }
  .card-title {
    text-align: center;
    font-size: 17px;
  }
  .cards .card {
    margin-left: 0.7rem;
  }
  .cards .card-text {
    text-align: center;
  }
}
.mi-navbar {
  background-color: black;
  width: 100%;
}
.mi-navbar .navbar-nav {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.mi-navbar .img-nav {
  height: auto;
  max-width: 200px;
  margin: 0.5rem;
}
.mi-navbar .img-nav:hover {
  transform: rotate(360deg);
  transition: 3s;
}
.mi-navbar .nav-link {
  font-family: "Patua One", serif;
  color: #f3dcaf;
}
.mi-navbar .nav-link:hover {
  color: #fbc107;
  transition: 1s;
}

@media (max-width: 913px) {
  .navbar-brand {
    display: flex;
    justify-content: center;
  }
}
/*----------------------------- NOSOTROS ------------------------- */
.about-us {
  margin: 1rem 0;
}
.about-us .titulo-nosotros {
  color: #b1652b;
}

.our-burgers {
  margin: 1rem 0;
}
.our-burgers .sub-nosotros {
  color: #adac33;
  text-align: left;
  font-size: 65px;
}

.proposito .sub-nosotros {
  color: #fbc107;
  text-align: right;
  font-size: 65px;
}

@media (max-width: 768px) {
  .our-burgers .sub-nosotros {
    font-size: 25px;
    text-align: center;
  }
  .proposito .sub-nosotros {
    font-size: 25px;
    text-align: center;
  }
}
.h1-pedidos {
  display: none; /* Seccion sin titulo principal */
}

.titulo-pedidos {
  color: #893302;
}

.subtitulos {
  font-size: 45px;
}

@media (max-width: 767px) {
  .titulo-pedidos {
    font-size: 30px;
    margin: 1rem auto;
  }
  .subtitulos {
    font-size: 25px;
    text-align: center;
    margin: 1rem 0;
  }
}
/*---------------------------- INDEX ------------------------------*/
.locales h3 {
  color: #adac33;
  font-family: "Patua One", serif;
}
.locales .card-body {
  background-image: url(../medios/bglocal.webp);
  height: 100%;
}
.locales .img-fav {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}
.locales .card-text {
  font-weight: bold;
}

.buenos-aires {
  background-image: url(../medios/bsas.jpg);
  background-position: bottom;
  background-size: cover;
  min-height: 70vh;
  background-attachment: fixed;
  filter: brightness(60%);
}
.buenos-aires .titulos-sec {
  color: white;
}

@media (max-width: 768px) {
  .locales .card {
    margin-left: 0.7rem;
  }
  .locales h3 {
    text-align: center;
  }
  .buenos-aires {
    min-height: 50vh;
    background-position: center;
  }
}
@media (min-width: 768px) and (max-width: 1300px) {
  .locales h3 {
    text-align: center;
    font-size: 25px;
  }
  .locales p {
    font-size: 20px;
  }
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: #f3dcaf;
}
footer .footer-izq img {
  max-width: 250px;
}
footer .footer-der {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: "Patua One", serif;
}
footer .footer-der nav {
  display: flex;
  justify-content: space-between;
}
footer .footer-centro a {
  text-decoration: none;
  color: #f3dcaf;
  font-family: "Patua One", serif;
  margin: 1rem;
}

@media (max-width: 860px) {
  footer {
    min-height: 8vh;
  }
  footer .footer-izq img {
    max-width: 150px;
  }
  footer .footer-der {
    font-size: 15px;
  }
  footer .footer-centro nav {
    display: flex;
    text-align: center;
    flex-direction: column;
  }
  footer .footer-centro a {
    font-size: 15px;
    margin: 0.2rem;
  }
}
.form-wrapper {
  max-width: 600px;
  margin: 0 auto;
  font-family: "Patua One", serif;
  color: black;
}
.form-wrapper .btn {
  margin-bottom: 2rem;
}
.form-wrapper .form-label {
  font-weight: bold;
  font-size: 20px;
}

.contacto .titulo-contacto {
  font-size: 50px;
}
.contacto .sub-contacto {
  margin: 2rem 0;
  font-size: 30px;
}
.contacto p {
  text-align: center;
}

.work-with-us {
  background-image: url(../medios/backgroundcontacto.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
.work-with-us .sub-contacto {
  color: #f3dcaf;
  font-size: 40px;
}
.work-with-us P {
  text-align: center;
  color: #adac33;
}

@media (max-width: 767px) {
  .contacto .titulo-contacto {
    font-size: 30px;
    padding: 1rem;
  }
  .contacto .sub-contacto {
    font-size: 15px;
  }
  .work-with-us {
    background-image: url(../medios/mobileback.jpg);
    background-repeat: repeat;
  }
  .work-with-us .sub-contacto {
    font-size: 25px;
    color: #893302;
    padding: 1rem;
  }
  .work-with-us p {
    color: black;
  }
  .form-wrapper {
    max-width: 350px;
  }
}
@media (min-width: 768px) and (max-width: 1300px) {
  .contacto p {
    text-align: center;
    font-weight: bold;
  }
}

/*# sourceMappingURL=style.css.map */
